@media only screen
  and (min-device-width: 100px)
  and (max-device-width:320px)
{
    #serve {
        height: 430px !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .foot-4 {
        float: left !important;
    }
  .bread{
    margin-top: 20px !important;
  }  
.section-services
{
  
  background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
  background-size:contain;
  height:110px !important;
  margin-top: -32px !important;
}
.cd-breadcrumb li  a 
{
 color :#ffffff;
}
.cd-breadcrumb li a:hover
{
   color: #ff4f57;
}
.breadcrumb-header 
{
    color: #ffffff;
}
.breadcrumb-header:hover{
    color: #ff4f57;
}
#breadcrumb
{
    margin-top: 30px !important;
}
    .foot_2 .nav {
        display: block;
        color: #aaa;
        font-weight: 500;
        font-size: 13px !important;
    }
    #nav-social
    {
        font-size: 14px !important;
    }
    div#n2-ss-4 .n2-font-b8b65977c061155d2b0af0f421449124-hover {
        font-family: 'Bree Serif';
        color: #ffffff;
        font-size: 225%;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: inherit;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 400;
        margin-top: 36px !important;
    }

   .logo
   {
    width: 95px;
   }
    .social-head {
        background: #ff4f57;
        height:290px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /* .n2_clear
    {
        
    margin-top:320px !important;
    } */
    .nav
    {
        justify-content: start !important;
    }
    /* .section_about
    {
        margin-top: -347px !important;
    } */
    #client
    {
        height: 890px !important;
    }
    #testim
    {
        margin-top: 455px !important;
    }
  
    #box1
    {
        margin-top: 10px !important;
    }
    .about-serve {
        font-size: 20px;
        font-weight: 600;
        font-style: oblique;
        font-size: 20px;
        margin-top: 12px !important;
    }
    #box-frame
    {
        margin-top: 10px !important;
    }
    .frame
    {
        height: max-content !important;
    }
    #section-p6
    {
        margin-top: 108px !important;
    }
   
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  {
    .foot-4 {
        float: left !important;
    }
    .bread{
        margin-top: 20px !important;
      }  
    .section-services
    {
      
      background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
      background-size:contain;
      height:110px !important;
      margin-top: -32px !important;
    }
    .cd-breadcrumb li  a 
    {
     color :#ffffff;
    }
    .cd-breadcrumb li a:hover
    {
       color: #ff4f57;
    }
    .breadcrumb-header 
    {
        color: #ffffff;
    }
    .breadcrumb-header:hover{
        color: #ff4f57;
    }
    #breadcrumb
    {
        margin-top: 30px !important;
    }
    .foot_2 .nav {
        display: block;
        color: #aaa;
        font-weight: 500;
        font-size: 12px !important;
    }
    #nav-social
    {
        font-size: 14px !important;
    }
    div#n2-ss-4 .n2-font-b8b65977c061155d2b0af0f421449124-hover {
        font-family: 'Bree Serif';
        color: #ffffff;
        font-size: 225%;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: inherit;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 400;
        margin-top: 36px !important;
    }
  
  
    .social-head {
        background: #ff4f57;
        height: 225px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .nav
    {
        justify-content: start !important;
    }
    /* .n2_clear
    {
        margin-top: 282px !important;
    }
    .section_about
    {
        margin-top: -305px !important; 
    } */
    #client
    {
        height: 890px !important;
    }
    #testim
    {
        margin-top: 455px !important;
    }
    
    #box1
    {
        margin-top: 10px !important;
    }
    #box-frame
    {
        margin-top: 10px !important;
    }
    .frame
    {
        height: max-content !important;
    }
    #section-p6
    {
        margin-top: 70px !important;
    }

}
  @media only screen
  and (min-device-width: 480px)
  and (max-device-width: 620px)
{
    .foot-4 {
        float: left !important;
    }
    .bread{
        margin-top: 20px !important;
      }  
    .section-services
    {
      
      background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
      background-size:contain;
      height:110px !important;
      margin-top: -29px !important;
      background-position-y: 251px !important;
    }
    .cd-breadcrumb li  a 
    {
     color :#ffffff;
    }
    .cd-breadcrumb li a:hover
    {
       color: #ff4f57;
    }
    .breadcrumb-header 
    {
        color: #ffffff;
    }
    .breadcrumb-header:hover{
        color: #ff4f57;
    }
    #breadcrumb
    {
        margin-top: 30px !important;
    }
    .foot_2 .nav {
        display: block;
        color: #aaa;
        font-weight: 500;
        font-size: 12px !important;
    }
    #nav-social
    {
        font-size: 14px !important;
    }
    div#n2-ss-4 .n2-font-b8b65977c061155d2b0af0f421449124-hover {
        font-family: 'Bree Serif';
        color: #ffffff;
        font-size: 225%;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: inherit;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 400;
        margin-top: 36px !important;
    }

   
    .social-head {
        background: #ff4f57;
        height: 156px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .nav{
        justify-content: start !important;
    }
    /* .n2_clear
    {
        margin-top: 236px !important;
    }
    .section_about
    {
        margin-top: -260px !important;
    }
    .fixedtop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    } */
    #client
    {
        height: 890px !important;
    }
    #testim
    {
        margin-top: 455px !important;
    }
    /* .section_About {
        margin-top: 227px !important;
    } */
    #box1
    {
        margin-top: 10px !important;
    }
    #box-frame
    {
        margin-top: 10px !important;
    }
    .frame
    {
        height: max-content !important;
    }
    #section-p6
    {
        margin-top: 10px !important;
    }
 
}
@media only screen
  and (min-device-width:620px)
  and (max-device-width:820px)
{
    .foot-4 {
        float: left !important;
    }
    .bread{
        margin-top: 20px !important;
      }  
    .section-services
    {
      
      background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
      background-size:contain;
      height:110px !important;
      margin-top: -32px !important;
      background-position-y: 331px !important;
    }
    .cd-breadcrumb li  a 
    {
     color :#ffffff;
    }
    .cd-breadcrumb li a:hover
    {
       color: #ff4f57;
    }
    .breadcrumb-header 
    {
        color: #ffffff;
    }
    .breadcrumb-header:hover{
        color: #ff4f57;
    }
    #breadcrumb
    {
        margin-top: 32px !important;
    }
    .foot_2 .nav {
        display: block;
        color: #aaa;
        font-weight: 500;
        font-size: 12px !important;
    }
   
    #nav-social {
        font-size: 14px !important;
        justify-content: flex-start;
    }
    div#n2-ss-4 .n2-font-b8b65977c061155d2b0af0f421449124-hover {
        font-family: 'Bree Serif';
        color: #ffffff;
        font-size: 225%;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: inherit;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 400;
        margin-top: 36px !important;
    }
    /* .section-services
    {
      padding: 200px !important;
    } */
    .social-head {
        background: #ff4f57;
        height: 155px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #nav_edit
    {
        justify-content: center !important;

    }
    /* .n2_clear
    {
        margin-top: 240px !important;  
    }
    .section_about
    {
        margin-top: -259px !important;
    } */
    .foot-4
    {
        justify-content: center !important;
    }
    .section_About
    {
        margin-top: 10px !important;
    }  
    #box1
    {
        margin-top: 10px !important;
    }
    #box-frame {
        margin-top: 10px !important;
        height: 548px !important;
    }
    .frame
    {
        height: max-content !important;
    }
    #section-p6
    {
        margin-top: 10px !important;
    }
 
}
@media only screen
  and (min-device-width:820px)
  and (max-device-width:1900px)
{
    .foot-4 {
        float:right !important;
    }
    .bread{
        margin-top: 110px !important;
      }  
    .section-services
    {
      
      background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
      background-size:contain;
      height:520px !important;
      margin-top: -38px !important;
      background-position-y: 212px !important;
      padding: 170px !important;
    }

    .cd-breadcrumb li  a 
    {
     color :#ffffff;
    }
    .cd-breadcrumb li a:hover
    {
       color: #ff4f57;
    }
    .breadcrumb-header 
    {
        color: #ffffff;
    }
    .breadcrumb-header:hover{
        color: #ff4f57;
    }
    #breadcrumb
    {
        margin-top: 32px !important;
    }
    .fixedtop {
        position: fixed !important;
         top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }
   
      .n2_clear
    {
        margin-top:176px !important;  
    }
    .section_about
    {
        margin-top: -180px !important;
    }
    #nav-social {
        font-size: 14px !important;
        justify-content: end !important;
    }
    div#n2-ss-4 .n2-font-b8b65977c061155d2b0af0f421449124-hover {
        font-family: 'Bree Serif';
        color: #ffffff;
        font-size: 225%;
        text-shadow: none;
        line-height: 1.5;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: inherit;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 400;
        margin-top: 36px !important;
    }
 
    .social-head {
        background: #ff4f57;
        height: 90px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .foot-4
    {
        justify-content: center !important;
    }
    #nav_edit
    {
        justify-content:center;
    }
    .section_About
    {
        margin-top: 30px !important;
    }  
    
    .box1 {
        background: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 5px 5px 10px 10px #888888;
        height: 274px !important;
    }
   #box1-frame
    {
        height:max-content !important;
    }
    .frame
    {
        height:520px !important;
    }
    #section-p6
    {
        margin-top: 10px !important;
    }
}

#box-frame
{
    height: 300px !important;
}
.foot-4
{
    float: right;
}

.cd-breadcrumb li  a 
{
 color :#ffffff;
}
.cd-breadcrumb li a:hover
{
   color: #ff4f57;
}
.breadcrumb-header 
{
    color: #ffffff;
}
.breadcrumb-header:hover{
    color: #ff4f57;
}
#breadcrumb
{
    margin-top: 60px;
}
.star
{
    color: #ff4f57;
    font-weight: bolder;
}
.section-services
{
  
  background: linear-gradient(45deg,black,transparent),url('../images/headerimage.jpg');
  background-size:contain;
  height: 400px;
}
.nav-tabs
{
  border-bottom: 1px solid #dee2e6 !important;
}